    <!-- <script src="navScript.js"></script> -->
    <script>
    /* only execute this script when the document is ready */
        $(document).ready(function(){
          /* function called when you click of the button */
          $("button-nav").click(function(){
              
              /* this if else to change the text in the button */
              if($("button-nav").text() == "☰"){
               $("button-nav").text("🞬");
              }else{
                $("button-nav").text("☰");
              }
            
            /* this function toggle the visibility of our "li" elements */
            $("li").toggle("slow");
          });
        });</script>
    </body>
</html>