<main>
    <div>
            <article>
                <header>
                    
                    <h1>
                       Event Title
                    </h1>

                </header>

                <div>
                    <h2>Event description</h2>
                </div>

                <div>
                    <h3>Event Address</h3>

                </div>

                <div>
                    <h4>Event time</h4>
                </div>

                </div>
            </article>

    </div>
</main>