/*grid css for first 3 pages Welcome All conf and my conf*/

body {
  padding: 40px 0;
  background-color: #f3ebf6;
  font-family: "Ubuntu", sans-serif;
  font-size: 8px;
  line-height: 1.2;
}

.sign {
  color: #0082e6;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.container {
  padding-top: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  padding: 40px;
}

.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5em;
}

.grid > article img {
  max-width: 100%;
  border-top-left-radius: 5em;
  border-top-right-radius: 5em;
}

.grid .text {
  padding: 20px;
}

.btn {
  background: #0082e6;
  border: 1px solid #0082e6;
  border-radius: 5em;
}

.btn:hover {
  background: transparent;
  color: #0082e6;
  border: 1px solid #0082e6;
  border-color: #0082e6;
}

.conference-header {
  color: #0082e6;
}

.article {
  size: 50px;
}

p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.head {
  font-size: 32px;
  padding-block-start: 40px;
}

/*Conference add signup/in speaker add....*/

.main {
  padding: 18px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #ffffff;
  width: 400px;
  height: fit-content;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.signature {
  padding-top: 20px;
  padding-bottom: 30px;
  color: #0082e6;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.signature1 {
  color: #0082e6;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.name {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Ubuntu", sans-serif;
}

textarea {
  resize: none;
}

/*form.form1 {
  padding-top: 40px;
}*/

.seats,
.description,
.profile-image {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Ubuntu", sans-serif;
}

.name:focus,
.seats:focus,
.description:focus,
.profile-image:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.submit {
  display: flex;
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: #0082e6;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  margin: auto;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.submit:hover {
  border-radius: 2px #0082e6;
  background: transparent;
  color: #0082e6;
}

.forgot {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: black;
  padding-top: 15px;
}

a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: black;
  text-decoration: none;
}

/*a:link {
  color: #0082e6;
}*/

@media (max-width: 600px) {
  .main {
    border-radius: 0px;
  }
}


/* CSS for login */
.un {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Ubuntu", sans-serif;
}

.pass {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Ubuntu", sans-serif;
}

.un:focus,
.pass:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.user-message {
  margin: 20px auto;
  width: 50%;
  border: 1px solid green;
  background-color: #47bb24;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.user-message--error {
  margin: 20px auto;
  width: 50%;
  border: 1px solid red;
  background-color: #f17272;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
}




/*
<style>
    body {
      background-color: #f2f2f2;
      font-family: 'RobotoDraft', 'Roboto', sans-serif;
      -webkit-font-smoothing: antialiased;
    }

    * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    h5 {
      margin: 0px;
      font-size: 1.4em;
      font-weight: 700;
    }

    p {
      font-size: 12px;
    }

    .center {
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    /* End Non-Essential  */
/*
    .property-card {
      height: 18em;
      width: 14em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      position: relative;
      -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      border-radius: 16px;
      overflow: hidden;
      -webkit-box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
      box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    }

    /* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

    /* Top Half of card, image. */
/*
    .property-image {
      height: 6em;
      width: 14em;
      padding: 1em 2em;
      position: Absolute;
      top: 0px;
      -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      background-image: url('https://cdn.pixabay.com/photo/2019/10/29/14/46/landscape-4587079_960_720.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }

    /* Bottom Card Section */
/*
    .property-description {
      background-color: #FAFAFC;
      height: 12em;
      width: 14em;
      position: absolute;
      bottom: 0em;
      -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      padding: 0.5em 1em;
      text-align: center;
    }

    /* Social Icons */
/*
    .property-social-icons {
      width: 1em;
      height: 1em;
      background-color: black;
      position: absolute;
      bottom: 1em;
      left: 1em;
      -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    /* Property Cards Hover States */
/*
    .property-card:hover .property-description {
      height: 0em;
      padding: 0px 1em;
    }

    .property-card:hover .property-image {
      height: 18em;
    }

    .property-card:hover .property-social-icons {
      background-color: white;
    }

    .property-card:hover .property-social-icons:hover {
      background-color: blue;
      cursor: pointer;
    }

    .sessions {
      padding: 10px;
      border-radius: 10px;
      border: 1px solid blue;
      width: 50%;
      margin: 20px auto;
    }
    .session > * {
      font-size: 13px;
    }
    /* Optional

.property-image-title
{
text-align:center;
position:Relative;
top:30%;
opacity:0;
transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
color:black;
font-size:1.2em;
}

.property-card:hover .property-image-title
{
opacity:1;
}


  </style>
  */


  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #0082e6;
    min-height: 8vh;
    width: 100%;
    text-align: center;
}

label.logo {
    color: #0082e6;
    font-size: 33px;
    line-height: 80px;
    padding: 0 140px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

nav ul {
    margin-right: 60px;
    display: block;
}

nav ul li {
    display: inline;
    line-height: 80px;
    margin: 0 1vh;
    list-style-type: none;

}

nav ul li a {
    color: #f2f2f2;
    font-weight: 500;
    font-size: 1vh;
    letter-spacing: 1.099px;
    padding: 2vh;
    border-radius: 3px;
    /* text-transform: uppercase; */


    font-family: 'Poppins', sans-serif;
}

a.active,
a:hover {
    transition: .5s;
    border-radius: 5em;
}

a.active {
    background: #1b9bff;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media only screen and (max-width: 500px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 0;
    }

    nav ul li a {
        display: block;
    }
}

.button-nav {
    display: none;
}


@media only screen and (max-width: 500px) {
    .button-nav {
        display: block;

        padding: 2vw;
        font-size: 3vh;
        background-color: #AFE0FF;
        border: none;

        outline: none;

        cursor: pointer;
        align-self: flex-start;
    }
}




